<md-dialog aria-label="locality" class="locality-dlg">
  <form ng-cloak name="localityForm">
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
          <label>UNIT/FLAT/WING/FLOOR NUMBER</label>
          <input ng-model="$ctrl.locality.unit" name="unit" required>
          <div ng-messages="localityForm.unit.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>UNIT/BUILDING NAME</label>
          <input ng-model="$ctrl.locality">
          <div ng-messages="localityForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>STREET NAME</label>
          <input ng-model="$ctrl.locality">
          <div ng-messages="localityForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>LANDMARK</label>
          <input ng-model="$ctrl.locality">
          <div ng-messages="localityForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>SUBLOCALITY</label>
          <input ng-model="$ctrl.locality">
          <div ng-messages="localityForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>LOCALITY</label>
          <input ng-model="$ctrl.locality">
          <div ng-messages="localityForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <label>CITY</label>
          <input ng-model="$ctrl.locality">
          <div ng-messages="localityForm.description.$error">
            <div ng-message="required">This is required.</div>
            <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
          </div>
        </md-input-container>
        <md-input-container>
          <button type="submit" ng-disabled="localityForm.$invalid">Save</button>
        </md-input-container>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
