<md-dialog aria-label="signup" class="login">
  <md-dialog-content>
    <div class="auth">
      <div class="box">
        <h3>Signup</h3>
        <div class="title"></div>
        <div class="boxWrapper">
          <form ng-if="!isOTPStage" name="signup_form" novalidate class="signup css-form">
            <div>
              <input required type="string" ng-model="user.name" placeholder="username"></input>
            </div>
            <div>
              <input required type="password" ng-minlength=5 ng-model="user.password" placeholder="password"></input>
            </div>
            <div>
              <input required type="email" ng-model="user.emailId" placeholder="email"></input>
            </div>
            <div>
              <input required ng-model="user.mobileNumber" placeholder="mobile number"></input>
            </div>
            <button ng-click="signupUser()" ng-disabled="signup_form.$invalid">Submit</button>
          </form>
          <form name="otp_form" novalidate class="otp css-form" ng-if="isOTPStage">
            <div>
              <div>We have sent you a one-time-password (OTP) to your phone. Please enter the 4 digit code below to complete your signup</div>
              <div>
                <input required ng-model="otpInfo.otp" placeholder="4 Digit OTP"></input>
              </div>
              <button ng-click="confirmOTP()" ng-disabled="otp_form.$invalid">Submit</button>
            </div>
            <form>
        </div>
      </div>
      <div ng-show="isError" class="error">Incorrect username or password</div>
    </div>
  </md-dialog-content>
</md-dialog>
