@import '../../variable.scss';
.details {
  justify-content: center;
  >div{
    margin: 0 35px;
  }
  .back {
    color: $themeColor;
    cursor: pointer;
    i:first-child {
      width: 6px;
    }
    i {
      vertical-align: middle;
    }
  }
  #carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
  }
  #carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
  }
  .carousel_body {
    .flexslider {
      margin-bottom: 20px;
    }
    .thumb {
      img {
        border-radius: 5px;
      }
    }
    #slider {
      img {
        height: 400px;
      }
    }
  }
  .list_body {
    position: relative;
    padding: 35px;
    .arrow {
      position: absolute;
      top: 40px;
      width: calc(100% + 70px);
      margin-left: -70px;
      button {
        border-radius: 50%;
        padding: 2px;
        outline: none!important;
        i {
          color: $themeColor;
          font-weight: 600;
        }
      }
      .left {
        float: left;
      }
      .right {
        float: right;
        right: 30px;
      }
    }
    .header {
      h3 {
        @extend %name;
        color: $active;
      }
      .media {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        .left {
          img {
            border-radius: 50%;
          }
          .name {
            font-family: 'sansRegular';
            font-size: 26px;
            margin-left: 10px;
            span {
              font-weight: 600;
            }
          }
        }
        .right.rating {
          display: flex;
          align-items: center;
          color: $themeColor;
          span:first-child {
            font-family: 'sansRegular';
            font-size: 26px;
            margin-right: 10px;
          }
        }
      }
    }
    .body {
      .txt {
        color: $txt;
        @extend %btn_txt;
        padding-right: 20px;
      }
      .review {
        padding-left: 20px;
        >div {
          margin-bottom: 20px;
        }
        .title {
          color: $themeColor;
          @extend %txt_6;
        }
        .location {
          span {
            @extend %btn_txt;
            font-weight: 600;
          }
        }
        .spice {
          span:first-child {
            @extend %txt;
          }
        }
        .type {
          button {
            width: 100%;
            background-color: #39a4e2;
            @extend %txt_6;
            color: white;
            outline: none!important;
          }
        }
        .ingredients {
          li {
            @extend %txt_6;
            color: $txt;
          }
        }
      }
    }
    .footer {
      padding-top: 20px;
      border-top: 1px $txt solid;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.check {
  button {
    font-weight: 600;
    @extend %btn_txt;
    span {
      margin: 0 5px;
      &.plus {
        color: $themeColor;
        font-size: 22px;
      }
      &.minus {
        font-size: 22px;
      }
    }
    &:last-child {
      color: white;
      margin-left: 20px;
      padding: 8px 15px;
      background-color: $themeColor;
    }
  }
}

.price {
  .new {
    float: left;
    margin-right: 20px;
    >span {
      @extend %txt_6;
      color: $txt;
    }
    h4 {
      font-family: 'montserratBold';
      font-size: 50px;
    }
  }
  .old {
    >span {
      @extend %txt_6;
      color: $txt;
    }
    h5 {
      font-family: 'sansRegular';
      font-size: 34px;
      color: #dd2c2c;
      margin-top: 16px;
    }
    float: right;
  }
}

@media screen and (max-width: 400px) {
  .check {
    button {
      margin-top: 10px;
      &:last-child {
        margin-left: 0;
      }
    }
  }
}
