<div class="footer row">
  <div class="col-sm-2">
    <img class="logo" src="assets/images/footer/logo.png">
  </div>
  <div class="col-xs-8">
    <div class="col-sm-3 about">
      <div class="sectionWrapper">
        <div>ABOUT</div>
        <div>Web-based platform that connects Mumbaikars hungry for hygienic homemade food with over 250 home-cooks-turned-chefs who are passionate about bringing delicious food to your table.
        </div>
        <div style="margin-top: 15px;">Captain's Kook © 2016.</div>
      </div>
    </div>
    <div class="col-sm-3 links">
      <div class="sectionWrapper">
        <div class="sectionHead">CONTACT</div>
        <div ng-click="$ctrl.customer()">Customer Support</div>
        <div ng-click="$ctrl.places()">Places We Serve</div>
        <div ng-click="$ctrl.about()">About Us</div>
        <div ng-click="$ctrl.join()">Join Us</div>
      </div>
    </div>
    <div class="col-sm-3 links">
      <div class="sectionWrapper">
        <div class="sectionHead">LEGAL</div>
        <div ng-click="$ctrl.privacy()">Privacy Policy</div>
        <div ng-click="$ctrl.terms()">Terms & Conditions</div>
        <div ng-click="$ctrl.quality()">Quality Control</div>
        <div ng-click="$ctrl.faq()">FAQs</div>
      </div>
    </div>
    <div class="col-sm-3 links">
      <div class="sectionWrapper">
        <div class="sectionHead">Social</div>
        <div><span class="facebook"><img src="./assets/images/footer/facebook.png"></span>Facebook</div>
        <div><span class="instagram"><img src="./assets/images/footer/instagram.png"></span>Instagram</div>
      </div>
    </div>
  </div>
</div>
