@import '../../variable.scss';
.mainHeader {
  background-color: #fff;
  width: 100%;
  // height: 75px;
  font-weight: 700;
  position: relative;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
  }
  img {
    // margin-top: 25px;
    width: 100px;
    height: 50px;
    padding-left: 20px;
    float: left;
  }
  .phone {
    float: left;
    padding-left: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    h4 {
      font-size: 14px;
      color: $themeColor;
      @extend %sansRegular;
      span {
        padding-left: 5px;
        font-weight: 700;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
    flex-wrap: wrap;
    color: #000;
    .logout {
      .shopping {
        background-color: #fff;
        border: none;
        padding-right: 10px;
        .icon {
          position: relative;
          cursor: pointer;
          i,
          span {
            font-size: 25px;
            color: $inactive;
            &.badge {
              position: absolute;
              color: white;
              background-color: $themeColor;
              font-size: 12px;
              left: 13px;
              top: -11px;
            }
          }
        }
      }
      .user {
        cursor: pointer;
        color: $active;
        font-family: 'montserratBold';
        font-size: 18px;
        padding: 10px;
        border-left: 1px $inactive solid;
      }
    }
    .img {
      width: 40px;
      height: 40px;
      margin-left: 0;
      img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
      }
    }
    a {
      cursor: pointer;
    }
    * {
      font-size: 13px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        color: $themeColor;
      }
      &:nth-child(2) {
        color: #858e93;
      }
      &:last-child {
        color: #000;
      }
    }
  }
  .search_wrap {
    ct-search {
      .search_form {
        padding: 0 15px;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .mainHeader {
    .search_wrap {
      ct-search {
        .search_form {
          padding: 0 15px;
          .item {
            // margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 410px) {
  .mainHeader {
    .left {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
    }
    .right {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 100%;
      flex: 1 1 100%;
      max-width: 100%;
      max-height: 100%;
      box-sizing: border-box;
      padding-bottom: 15px;
    }
  }
}
