@import '../../variable.scss';
.mainHeader {
  height: 70px;
  background-color: #fff;
  width: 100%;
  img {
    margin-top: 10px;
    width: 100px;
    height: 50px;
    padding-left: 20px;
  }
  .right {
    position: absolute;
    right: 30px;
    top: 20px;
    color: #000;
    a {
      cursor: pointer;
    }
    * {
      font-size: 13px;
      margin-left: 5px;
      display: inline-block;
      vertical-align: middle;
      &:first-child {
        color: $themeColor;
      }
      &:nth-child(2) {
        color: #858e93;
      }
      &:last-child {
        color: #000;
      }
    }
  }
}
