@import '../../variable.scss';
.checkout {
  justify-content: center;
  padding: 35px;
  .title h3 {
    @extend %title;
    padding-bottom: 15px;
    border-bottom: 1px $inactive solid;
  }
  .body {
    color: $txt;
    .products {
      header {
        @extend %txt_6;
      }
      .product {
        position: relative;
        background-color: white;
        margin-bottom: 10px;
        .photo {
          padding: 5px;
          img {
            width: 100%;
          }
        }
        .name {
          padding: 0 5px 5px;
          .title {
            h3 {
              @extend %btn_txt;
              font-weight: 600;
              padding-bottom: 0;
              border-bottom: none;
            }
          }
          .vegan {
            float: right;
            color: $green;
          }
        }
        .qty {
          button {
            margin-top: 15px;
            outline: none!important;
            font-size: 23px;
            color: $themeColor;
            font-weight: 600;
            padding: 0 20px;
            span {
              @extend %txt_4;
              margin: 0 10px;
              color: $active;
            }
          }
        }
        .price {
          display: flex;
          flex-direction: column;
          .new {
            font-family: 'sansRegular';
            font-size: 28px;
            span:first-child {
              font-size: 28px;
              font-weight: 600;
              color: $active;
            }
            span:last-child {
              color: $active;
              font-weight: 600;
              vertical-align: super;
            }
          }
          .old {
            font-family: 'sansRegular';
            font-size: 18px;
            color: #dd2c2c;
            span:first-child {
              font-size: 18px;
              font-weight: 600;
              color: #dd2c2c;
              text-decoration: line-through;
            }
            span:last-child {
              color: #dd2c2c;
              font-size: 12px;
              font-weight: 600;
              vertical-align: super;
            }
          }
        }
        .close {
          position: absolute;
          right: 13px;
          top: 6px;
        }
      }
    }
    .delivery {
      margin-top: 20px;
    }
    .right {
      padding-left: 20px;
      .pan {
        .pan_head {
          display: flex;
          justify-content: space-between;
          color: white;
          font-size: 13px;
        }
        .pan_body {
          padding: 20px;
          .item {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            span:last-child {
              font-weight: 600;
              &.delivery {
                color: $themeColor;
              }
            }
          }
          .total {
            .title {
              display: flex;
              justify-content: space-between;
              border-top: 1px $inactive solid;
              border-bottom: none;
              h4:last-child {
                span {
                  span {
                    font-size: 16px;
                    vertical-align: super;
                  }
                }
              }
            }
            .button button {
              color: white;
              width: 100%;
              padding: 15px 30px;
              background-color: $themeColor;
              @extend %btn_txt;
              display: flex;
              justify-content: space-between;
              text-align: center;
            }
          }
        }
      }
      .coupon {
        .input {
          position: relative;
          input {
            border: 1px $themeColor solid;
            padding: 15px;
            border-radius: 5px;
            width: 100%;
          }
          i {
            color: $themeColor;
            position: absolute;
            top: 14px;
            right: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 960px) {
  .checkout .body .right{
    padding-left: 0;
  }
}
.pan {
  background-color: #fff;
  padding: 5px;
  margin-top: 20px;
  .pan_head {
    background-color: $active;
    padding: 5px;
  }
  .title {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $inactive solid;
    h4 {
      color: #54595c;
    }
    i {
      color: $themeColor;
      cursor: pointer;
    }
  }
  .pan_item {
    .title {
      display: flex;
      justify-content: space-between;
      color: $active;
      font-weight: 600;
      font-size: 18px;
      i {
        color: $txt;
      }
    }
  }
}
