@import '../../variable.scss';
.login {
  // width: 100%;
  // height: 100%;
  // min-height: 100%;
  // min-width: 100%;
  // background: rgba(0, 0, 0, 0.53);
  // md-dialog-content {
  //   height: 100%;
  // }
  .auth {
    // height: 100%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-top: 350px;
    h3{
      // color: white;
    }
    .error {
      //color: @warningColor;
      text-align: center;
      width: 100%;
      margin-top: 10px;
    }
    h3 {
      text-align: center;
      // position: absolute;
      width: 100%;
      // margin-top: -45px;
    }
    .otp {
      div {
        color: #000;
        margin-top: 20px;
        font-size: 13px;
      }
    }
    .box {
      border: 1px solid #e7e7e7;
      border-radius: 3px;
      background-color: #fff;
      margin: 0px auto;
      // position: absolute;
      // width: 300px;
      min-width: 320px;
      padding: 15px;
      .boxWrapper {
        padding: 20px;
        * {
          margin-bottom: 10px;
        }
      }
      .title {
        background: url($imgpath+'assets/images/meal-dummy.jpg');
        background-size: cover;
        background-repeat: none;
        height: 100px;
        width: 100%;
        border-bottom: 1px solid;
      }
      input {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #e7e7e7;
        //border-radius: 5px;
        height: 42px;
        color: #000;
        width: 100%;
        font-size: 13px;
        padding-left: 10px;
        padding-top: 3px;
        margin-top: 3px;
      }
      button {
        height: 40px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid $themeColor;
        font-size: 13px;
        text-align: center;
        color: $themeColor;
        @extend %sansRegular;
      }
      button:disabled {
        opacity: 0.8;
        color: $disabledColor;
        border-color: $disabledColor;
      }
    }
  }
}
