$bgColor: #f4f5f7;
$themeColor: #de9b1b;
$defaultBorderRadius: 3px;
$warningColor: #ff5858;
$disabledColor: #d1d1d1;
$disabledColor: #d1d1d1;
$inactive: #878d91;
$active: #1b1d1e;
$green: #2cc34c;
$txt: #858e93;

/* image path */

$imgpath: '../';
@font-face {
  font-family: 'montserratBold';
  src: url("../assets/fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: 'sansRegular';
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'sansBold';
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

%montserratBold {
  font-family: 'montserratBold';
}

%sansRegular {
  font-family: 'sansRegular';
}

%sansBold {
  font-family: 'sansBold';
}

%title {
  font-family: 'montserratBold';
  font-size: 30px;
}

%name {
  font-family: 'montserratBold';
  font-size: 44px;
}

%txt_2 {
  font-family: 'sansBold';
  font-size: 34px;
}

%txt_3 {
  font-family: 'sansBold';
  font-size: 22px;
}

%txt {
  font-family: 'sansBold';
  font-size: 26px;
}

%txt_4 {
  font-family: 'sansBold';
  font-size: 20px;
}

%txt_5 {
  font-family: 'sansRegular';
  font-size: 16px;
}

%txt_6 {
  font-family: 'sansRegular';
  font-size: 14px;
}

%btn_txt {
  font-family: 'sansRegular';
  font-size: 18px;
}
