/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower
@import './variable.scss';

/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  vertical-align: text-bottom;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.fontHeading {
  font-family: 'montserratBold';
}

.fontRegular {
  font-family: 'sansRegular';
}

.fontBold {
  font-family: 'sansBold';
}

h1,
h2,
h3,
h4 {
  color: #000;
  @extend %montserratBold;
}

*:focus {
  outline: 0;
}

input.ng-invalid.ng-dirty,
textarea.ng-invalid.ng-dirty {
  border-color: $warningColor !important;
}

body {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: $bgColor;
  font-family: 'sansRegular';
  // color: #fff;
}

html {
  height: 100%;
}

.to_top {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  img {
    width: 40px;
  }
}

.left_icon {
  position: absolute;
  top: 12px;
  left: 12px;
}

.show_more {
  align-items: center;
  >div{
    align-items: center;
  }
  h4 {
    color: $themeColor;
    @extend %txt_6;
    font-weight: 600;
  }
  button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    outline: none!important;
    i {
      color: $themeColor;
    }
  }
}
.page_wrap{
  max-width: 1040px;
  margin: auto;
  >div{
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
