<div class="home">
  <div class="banner">
    <div class="bannerContent">
      <h2>Home Cooked Meal ?</h2>
      <div>Order Freshly-Prepared Ghar Ka Khana From Home Chefs </div>
      <img src="assets/images/playstore-logo.png"></img>
    </div>
    <div class="row search_body">
      <div class="page_wrap">
        <ct-search></ct-search>
      </div>
    </div>
  </div>
  <div class="page_wrap row mainContent">
    <div class="col-sm-12">
      <div class="col-sm-7 cauroselContainer">
        <h3>Deals & Promotions <span ng-click="$ctrl.goResult()">All Deals<i class="material-icons">arrow_forward</i></span></h3>
        <div class="carousel">
        </div>
      </div>
      <div class="col-sm-5 offerContainer">
        <div class="coupon">
          <img src="assets/images/coupon.png"></img>
          <div class="text">
            <div>10%</div>
            <div>
              <div>FIRST ORDER</div>
              <div>Claim Now</div>
            </div>
          </div>
        </div>
        <div class="offerBox">
          <img src="assets/images/refer-icon.png"></img>
          <h4>REFER A FRIEND</h4>
          <div class="input">
            <input placeholder="Friend's email"></input>
            <i class="material-icons">arrow_forward</i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 meals">
      <h3>Featured Meals</h3>
      <div class="col-sm-6 col-md-4 meal" bindonce ng-repeat="meal in $ctrl.meals">
        <div class="mealWrapper">
          <!-- <div class="mealImage"></div> -->
          <img bo-src="meal.imageURL"></img>
          <div class="mealInfo">
            <h4 bo-text="meal.category"></h4>
            <div class="chefInfo">
              <img bo-src="meal.providerImageURL"></img>
              <div class="chefDetails">
                <div bo-text="meal.providerName"></div>
                <div bo-text="meal.localityServed" ng-show="meal.localityServed"></div>
              </div>
              <div class="rating star">
                <div bo-text="meal.rating"></div>
                <i class="material-icons">star_rate</i>
              </div>
            </div>
          </div>
          <div class="divider"></div>
          <div class="price">
            <div bo-text="meal.oldPrice" ng-show="meal.oldPrice"></div>
            <div bo-text="meal.price"></div>
            <div>See More<i class="material-icons">arrow_forward</i></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 chefs">
      <h3>Featured Chefs</h3>
      <div class="col-sm-8 chefsContainer">
        <div class="col-sm-6 chef" bindonce ng-repeat="chef in $ctrl.chefs">
          <div class="chefWrapper">
            <div class="chefInfo">
              <img bo-src="chef.imageUrl"></img>
              <div class="chefDetails">
                <div bo-text="chef.name"></div>
                <div bo-text="chef.localityServed"></div>
              </div>
              <div class="rating star">
                <div bo-text="chef.rating"></div>
                <i class="material-icons">star_rate</i>
                <div>SEE MORE<i class="material-icons">arrow_forward</i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 giftContainer">
        <div class="offerBox">
          <img src="assets/images/gift-icon.png"></img>
          <h4>GIFT ONE MEAL</h4>
          <div>and get one at 50% discount</div>
          <div class="input">
            <input placeholder="Friend's email"></input>
            <i class="material-icons">arrow_forward</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
