@import '../../variable.scss';
.results {
  justify-content: center;
  >div {
    margin: 0 30px;
  }
  .carousel_wrap {
    margin-top: 15px;
    margin-bottom: 30px;
    slick {
      margin: 0;
      >button {
        // width: 30px;
        // height: 30px;
        &:before {
          color: $themeColor;
          font-size: 30px;
        }
      }
      .slick-next{
        right: -20px;
      }
    }
  }
  .filter_wrap {
    .filter_item {
      margin: 5px;
      position: relative;
      cursor: pointer;
      img {
        margin: auto;
        width: 100%;
        border-radius: 5px;
      }
      .title {
        position: absolute;
        bottom: 10px;
        color: white;
        width: 100%;
        text-align: center;
        @extend %txt_5;
      }
      .over {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.38);
      }
      &.active {
        .over {
          opacity: 0.2;
        }
        img {
          border: 2px #1b1d1e solid;
        }
      }
    }
  }
  .search_food {
    position: relative;
    input {
      padding: 15px;
      padding-left: 40px;
      height: auto;
    }
    .left_icon {
      font-size: 20px;
      color: $inactive;
    }
  }
  .results_txt {}
  .filter_body {
    @extend %txt_6;
    >div:first-child {
      button {
        padding: 5px;
        color: $inactive;
        margin-right: 10px;
      }
    }
    >div:last-child {
      text-align: right;
    }
    .title {
      color: $inactive;
      vertical-align: -webkit-baseline-middle;
      span {
        color: $active;
        font-weight: 600;
      }
    }
    select {
      width: 100px;
      float: right;
    }
  }
  .results_body {
    padding: 0;
    margin: 30px -8px 0 -8px;
    .results_item {
      min-width: 260px;
      position: relative;
      .mealWrapper {
        &.hover{
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: all 700ms;
          height: calc(100% - 35px);
          .description{
            padding-top: 15px;
            height: 160px;
          }
          &:hover{
            opacity: 1;
          }
        }
        min-height: 300px;
        border: 1px solid #dedfe1;
        background-color: #fff;
        width: 100%;
        margin-bottom: 30px;
        .mealImage {
          width: 100%;
          background: url($imgpath+'assets/images/meal-dummy.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          height: 150px;
        }
        .meal_info {
          border-bottom: 1px $inactive solid;
          .name {
            i {
              vertical-align: middle;
            }
          }
          .sl {}
          .vegan {
            text-align: right;
            color: $green;
          }
        }
        .mealInfo {
          padding: 10px;
          padding-left: 15px;
        }
        .chefInfo {
          margin-top: 15px;
          white-space: nowrap;
          img {
            width: 40px;
            height: 40px;
            border-radius: 60px;
          }
          & > div {
            display: inline-block;
            vertical-align: middle;
          }
          .chefDetails {
            font-size: 12px;
            div:last-child {
              font-size: 10px;
            }
            margin-left: 10px;
            margin-top: -2px;
          }
          .rating {
            float: right;
            font-size: 12px;
            padding-top: 10px;
            div {
              display: inline-block;
              vertical-align: middle;
            }
            .material-icons {
              font-weight: 700;
              width: 10px;
              font-size: 12px;
              vertical-align: middle;
              color: $themeColor;
              margin-left: 5px;
              cursor: pointer;
            }
            &.star {
              >.material-icons {
                font-size: 16px;
                margin-left: 0;
              }
            }
          }
        }
        .divider {
          background-color: #dedfe1;
          width: 100%;
          height: 1px;
          margin-top: 10px;
        }
        .price {
          padding: 10px;
          padding-left: 15px;
          div {
            display: inline-block;
            vertical-align: middle;
          }
          div:first-child {
            color: #dd2c2c;
            font-size: 18px;
            text-decoration: line-through;
          }
          div:nth-child(2) {
            font-size: 25px;
            margin-left: 11px;
            color: #000;
          }
          div:last-child {
            @extend %txt_5;
            color: $themeColor;
            float: right;
            font-weight: 600;
            padding-top: 10px;
            i.material-icons {
              font-size: 20px;
              font-weight: 700;
              cursor: pointer;
              margin-left: 5px;
              vertical-align: inherit;
            }
          }
        }
      }
    }
  }
  .show_more {
    display: flex;
    justify-content: center;
  }
}
