@import '../../variable.scss';
.results {
  justify-content: center;
  >div {
    margin: 0 30px;
  }
  .carousel_wrap {
    margin-top: 15px;
    margin-bottom: 30px;
    slick {
      margin: 0;
      >button {
        // width: 30px;
        // height: 30px;
        &:before {
          color: $themeColor;
          font-size: 30px;
        }
      }
      .slick-next {
        right: -20px;
      }
    }
  }
  .filter_wrap {
    .filter_item {
      margin: 5px;
      position: relative;
      cursor: pointer;
      img {
        margin: auto;
        width: 100%;
        border-radius: 5px;
      }
      .title {
        position: absolute;
        bottom: 10px;
        color: white;
        width: 100%;
        text-align: center;
        @extend %txt_5;
      }
      .over {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background: rgba(0, 0, 0, 0.38);
      }
      &.active {
        .over {
          opacity: 0.2;
        }
        img {
          border: 2px #1b1d1e solid;
        }
      }
    }
  }
  .search_food {
    position: relative;
    input {
      padding: 15px;
      padding-left: 40px;
      height: auto;
    }
    .left_icon {
      font-size: 20px;
      color: $inactive;
    }
  }
  .results_txt {}
  .filter_body {
    @extend %txt_6;
    >div:first-child {
      button {
        padding: 5px;
        color: $inactive;
        margin-right: 10px;
      }
    }
    >div:last-child {
      text-align: right;
    }
    .title {
      color: $inactive;
      vertical-align: -webkit-baseline-middle;
      span {
        color: $active;
        font-weight: 600;
      }
    }
    select {
      width: 100px;
      float: right;
    }
  }
  .results_body {
    padding: 0;
    margin: 30px -8px 0 -8px;
    .results_item {
      min-width: 260px;
      position: relative;
      .mealWrapper {
        @extend %mealWrapper;
      }
    }
  }
  .show_more {
    display: flex;
    justify-content: center;
  }
}
