<div class="search_form row">
  <div class="col-sm-12 col-md-6">
    <!-- <input type="" name="" placeholder="Delivery Location"> -->
    <md-autocomplete
      ng-disabled="$ctrl.locality.isDisabled"
      md-no-cache="$ctrl.locality.noCache"
      md-selected-item="$ctrl.locality.selectedItem"
      md-search-text-change="$ctrl.locality.onSearchTextChange($ctrl.locality.searchText)"
      md-search-text="$ctrl.locality.searchText"
      md-selected-item-change="$ctrl.locality.onSelectItemChange(item)"
      md-items="item in $ctrl.locality.querySearch($ctrl.locality.searchText)"
      md-item-text="item.display"
      md-min-length="0"
      placeholder="Delivery Location">
      <md-item-template>
        <span md-highlight-text="$ctrl.locality.searchText" md-highlight-flags="^i">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
        No localities matching "{{$ctrl.locality.searchText}}" were found.
        <!-- <a ng-click="$ctrl.createNewLocality($ctrl.searchText)">Create a new one!</a> -->
      </md-not-found>
    </md-autocomplete>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="col-sm-4 col-xs-6 no-padding-r">
      <input type="" name="">
    </div>
    <div class="col-sm-4 col-xs-6 no-padding-l">
      <input type="" name="">
    </div>
    <div class="col-sm-4 col-xs-12 text-center">
      <md-button aria-label="search" ng-bind-html="$ctrl.searchBtn | trusted"></md-button>
    </div>
  </div>
</div>
