<div class="checkout page_wrap">
  <div>
    <div class="title">
      <h3>CHECKOUT</h3>
    </div>
    <div class="body" layout="row" layout-wrap>
      <div class="left" flex="75" flex-sm="100" flex-xs="100">
        <div class="products">
          <div class="sub_title">
            <h4>PRODUCTS</h4></div>
          <header layout="row" layout-wrap hide-xs>
            <div class="photo" flex="20">PHOTO</div>
            <div class="name" flex="40">NAME & DESCRIPTION</div>
            <div class="qty" flex="20">QTY</div>
            <div class="price" flex="20">PRICE</div>
          </header>
          <div class="product" layout="row" layout-wrap bindonce ng-repeat="item in $ctrl.items track by item.id">
            <div class="photo" flex="20" flex-xs="30"><div hide-gt-xs>PHOTO</div><img ng-src="{{item.url}}"></div>
            <div class="name" flex="40" flex-xs="70"><div hide-gt-xs>NAME & DESCRIPTION</div>
              <div class="title">
                <h3>This is another Special Ratan Beef Recipe</h3>
              </div>
              <div class="info">
                <span class="location"><i class="material-icons">place</i> Punjabi</span>
                <span class="sl">SL: <span uib-rating ng-model="$ctrl.rate" max="$ctrl.max" read-only="isReadonly" on-hover="$ctrl.hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                <span class="label" ng-class="{'label-warning': $ctrl.percent<30, 'label-info': $ctrl.percent>=30 && percent<70, 'label-success': $ctrl.percent>=70}" ng-show="overStar && !$ctrl.isReadonly">{{$ctrl.percent}}%</span></span>
                <span class="vegan">VEGAN</span>
              </div>
            </div>
            <div class="qty" flex="20" flex-xs="50"><div hide-gt-xs>QTY</div>
              <button class="btn btn-default btn-sm">- <span>2</span> +</button>
            </div>
            <div class="price" flex="20" flex-xs="50"><div hide-gt-xs>PRICE</div>
              <div class="new">$<span>47</span><span>.00</span></div>
              <div class="old">$<span>56</span><span>.00</span></div>
            </div>
            <div class="close"><i class="material-icons">close</i></div>
          </div>
        </div>
        <div class="delivery">
          <div class="title">
            <h4>DELIVERY & PAYMENT</h4>
          </div>
          <div class="pan">
            <div class="title">
              <h4>Delivery Address</h4>
              <i class="material-icons">control_point</i>
            </div>
            <div class="pan_item">
              <div class="left">
                <div class="sub_title">Home Address 1</div>
              </div>
              <div class="title">
                <h5>Franklin Street 143, B53, San Francisco, CA</h5><i class="material-icons">launch</i>
              </div>
            </div>
            <div class="pan">
              <div class="title">
                <h4>Delivery Address</h4>
                <i class="material-icons">control_point</i>
              </div>
              <div class="pan_item">
                <div class="left">
                  <div class="sub_title">Home Address 1</div>
                </div>
                <div class="title">
                  <h5>Franklin Street 143, B53, San Francisco, CA</h5><i class="material-icons">launch</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right" flex="25" flex-sm="100" flex-xs="100">
          <div class="pan">
            <div class="pan_head">
              <i class="material-icons">av_timer</i>
              <span> DELIVERY IN APROX. 60 MINS</span>
            </div>
            <div class="pan_body">
              <div class="order">
                <h4>Order Summary</h4>
                <div class="item">
                  <span>Food Total:</span>
                  <span>$196.00</span>
                </div>
                <div class="item">
                  <span>Delivery:</span>
                  <span class="delivery">FREE</span>
                </div>
              </div>
              <div class="total">
                <div class="title">
                  <h4>Total:</h4>
                  <h4>$<span>196<span>.00</span></span></h4>
                </div>
                <div class="button">
                  <button class="btn btn-default" ng-click="$ctrl.goOrderPlace()">Place Order <i class="material-icons">arrow_forward</i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="pan coupon">
            <div class="pan_body">
              <h4>Have a Coupon?</h4>
              <p>COUPON CODE:</p>
              <div class="input">
                <input type="" name="">
                <i class="material-icons">arrow_forward</i>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>