<div class="checkout page_wrap">
  <div>
    <div class="title">
      <h3>CHECKOUT</h3>
    </div>
    <div class="body" layout="row" layout-wrap>
      <div class="left" flex="75" flex-sm="100" flex-xs="100">
        <div class="products" ng-if="$ctrl.items.length > 0">
          <div class="sub_title">
            <h4>PRODUCTS</h4></div>
          <header layout="row" layout-wrap hide-xs>
            <div class="photo" flex="20">PHOTO</div>
            <div class="name" flex="40">NAME & DESCRIPTION</div>
            <div class="qty" flex="20">QTY</div>
            <div class="price" flex="20">PRICE</div>
          </header>
          <div class="product" layout="row" layout-wrap bindonce ng-repeat="item in $ctrl.items track by item.id">
            <div class="photo" flex="20" flex-xs="30">
              <div hide-gt-xs>PHOTO</div><img bo-src="item.imageURL"></div>
            <div class="name" flex="40" flex-xs="70">
              <div hide-gt-xs>NAME & DESCRIPTION</div>
              <div class="title">
                <h3 bo-text="item.name"></h3>
              </div>
              <div class="info">
                <span class="location"><i class="material-icons">place</i> {{item.localityServed}}</span>
                <span class="sl">SL: <span uib-rating ng-model="$ctrl.rate" max="$ctrl.max" read-only="$ctrl.isReadonly" state-on="'custom-on'" state-off="'custom-off'" titles="['one','two','three']" aria-labelledby="default-rating"></span>
                <span class="label" ng-class="{'label-warning': $ctrl.percent<30, 'label-info': $ctrl.percent>=30 && percent<70, 'label-success': $ctrl.percent>=70}" ng-show="overStar && !$ctrl.isReadonly">{{$ctrl.percent}}%</span></span>
                <span class="vegan" ng-hide="item.nonVeg">VEGAN</span>
                <span class="vegan none" ng-show="item.nonVeg">NON VEGAN</span>
              </div>
            </div>
            <div class="qty" flex="20" flex-xs="50">
              <div hide-gt-xs>QTY</div>
              <button class="btn btn-default btn-sm"><span class="minus" ng-click="$ctrl.decreaseQuantity($index)">−</span><span>{{item.quantity}}</span><span class="plus" ng-click="$ctrl.increaseQuantity($index)">+</span></button>
            </div>
            <div class="price" flex="20" flex-xs="50">
              <div hide-gt-xs>PRICE</div>
              <div class="new">$<span>{{item.price}}</span><span>.00</span></div>
              <div class="old" ng-if="item.oldPrice">$<span>{{item.oldPrice}}</span><span>.00</span></div>
            </div>
            <div class="close" ng-click="$ctrl.removeItem($index)"><i class="material-icons">close</i></div>
          </div>
        </div>
        <div class="delivery">
          <div class="title">
            <h4>DELIVERY & PAYMENT</h4>
          </div>
          <div class="pan">
            <div class="title">
              <h4>Delivery Address</h4>
              <i class="material-icons" ng-click="$ctrl.showModal($event, -1)">control_point</i>
            </div>
            <div class="pan_item" ng-repeat="item in $ctrl.delivery_addresses">
              <div class="left">
                <div class="sub_title">Home Address {{$index + 1}}</div>
              </div>
              <div class="title">
                <h5>{{$ctrl.getFullAddress(item)}}</h5>
                <i class="material-icons" ng-click="$ctrl.showModal($event, $index)">launch</i>
              </div>
            </div>
          </div>
          <div class="pan">
            <div class="title">
              <h4>Payment Method</h4>
              <i class="material-icons">control_point</i>
            </div>
            <md-radio-group ng-model="$ctrl.paymentMode">
              <div class="pan_item">
              <div class="left">
                <!-- <div class="sub_title">Home Address 1</div> -->
                <md-radio-button value="visa" ng-disabled="true">VISA CARD</md-radio-button>
              </div>
              <div class="title">
                <h5>XXXX-XXXX-XXXX-XXXX</h5><i class="material-icons">launch</i>
              </div>
            </div>
            <div class="pan_item">
              <div class="left">
                <!-- <div class="sub_title">Home Address 1</div> -->
                <md-radio-button value="cash on delivery">CASH AT DELIVERY</md-radio-button>
              </div>
              <div class="title">
                <h5><div class="price"><div class="new">$<span>{{$ctrl.getTotalAmount() - $ctrl.objDiscount.discount_amount}}</span><span>.00</span></div></div></h5><i class="material-icons">launch</i>
              </div>
            </div>
            </md-radio-group>
          </div>
        </div>
      </div>
      <div class="right" flex="25" flex-sm="100" flex-xs="100">
        <div class="pan">
          <div class="pan_head">
            <i class="material-icons">av_timer</i>
            <span> DELIVERY IN APROX. 60 MINS</span>
          </div>
          <div class="pan_body">
            <div class="order">
              <h4>Order Summary</h4>
              <div class="item">
                <span>Food Total:</span>
                <span>{{$ctrl.getTotalAmount() | currency : '$'}}</span>
              </div>
              <div class="item" ng-show="$ctrl.objDiscount.discount_amount > 0">
                <span>Discount:</span>
                <span>{{$ctrl.objDiscount.discount_amount | currency : '$'}}</span>
              </div>
              <div class="item">
                <span>Delivery:</span>
                <span class="delivery">FREE</span>
              </div>
            </div>
            <div class="total">
              <div class="title">
                <h4>Total:</h4>
                <h4>$<span>{{$ctrl.getTotalAmount() - $ctrl.objDiscount.discount_amount}}<span>.00</span></span></h4>
              </div>
              <div class="button">
                <button class="btn btn-default" ng-click="$ctrl.placeOrder()" ng-disabled="$ctrl.items.length == 0 || $ctrl.delivery_addresses.length == 0">Place Order <i class="material-icons">arrow_forward</i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="pan coupon" ng-if="$ctrl.items.length > 0">
          <div class="pan_body">
            <h4>Have a Coupon?</h4>
            <p>COUPON CODE:</p>
            <div class="input">
              <form ng-submit="$ctrl.applyCoupon()">
                <input type="text" name="coupon" ng-model="$ctrl.coupon">
                <i class="material-icons" ng-click="$ctrl.applyCoupon()">arrow_forward</i>
                <input type="submit" style="position: absolute; left: -9999px; width:1px, height: 1px">
              </form>
              <div class="alert" ng-show="$ctrl.errMessage">{{$ctrl.errMessage}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
