<div class="home">
   <div class="banner">
      <div class="bannerContent">
        <h2>Home Cooked Meal ?</h2>
        <div>Order Freshly-Prepared Ghar Ka Khana From Home Chefs </div>
        <img src="images/playstore-logo.png"></img>
      </div>
   </div>
   <div class="row mainContent">
       <div class="col-sm-offset-2 col-sm-8">
          <div class="col-sm-7 cauroselContainer">
            <h3>Deals & Promotions</h3>
            <div class="carousel">
            </div>
          </div>
          <div class="col-sm-5 offerContainer">
            <div class="coupon">
              <img src="images/coupon.png"></img>
              <div class="text">
                <div>10%</div>
                <div>
                  <div>FIRST ORDER</div>
                  <div>Claim Now</div>
                </div>
              </div>
            </div>
            <div class="offerBox">
              <img src="images/refer-icon.png"></img>
              <h4>REFER A FRIEND</h4>
              <input placeholder="Friend's email"></input>
            </div>
          </div>
       </div>
        <div class="col-sm-offset-2 col-sm-8 meals">
          <h3>Featured Meals</h3>
          <div class="col-sm-6 col-md-4 meal" ng-repeat="meal in meals">
            <div class="mealWrapper">
              <div class="mealImage"></div>
              <div class="mealInfo">
                <h4>{{meal.name}}</h4>
                <div class="chefInfo">
                  <img src="images/chef-dummy.jpg"></img>
                  <div class="chefDetails">
                    <div>{{meal.chef}}</div>
                    <div>{{meal.location}}</div>
                  </div>
                  <div class="rating">
                    <div>{{meal.rating}}</div>
                    <div class="fa fa-star"></div>
                  </div>
                </div>
              </div>
              <div class="divider"></div>
              <div class="price">
                <div>{{meal.oldPrice}}</div>
                <div>{{meal.price}}</div>
                <div>See More</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-offset-2 col-sm-8 chefs">
           <h3>Featured Chefs</h3>
            <div class="col-sm-8 chefsContainer">
              <div class="col-sm-6 chef" ng-repeat="chef in chefs">
                <div class="chefWrapper">
                   <div class="chefInfo">
                    <img src="images/chef-dummy.jpg"></img>
                    <div class="chefDetails">
                      <div>{{chef.name}}</div>
                      <div>{{chef.location}}</div>
                    </div>
                    <div class="rating">
                      <div>{{chef.rating}}</div>
                      <div class="fa fa-star"></div>
                      <div>SEE MORE</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4 giftContainer">
                <div class="offerBox">
                  <img src="images/gift-icon.png"></img>
                  <h4>GIFT ONE MEAL</h4>
                  <div>and get one at 50% discount</div>
                  <input placeholder="Friend's email"></input>
                </div>
            </div>
        </div>
    </div>
</div>